<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>10 Rounds | Lord Of The Coders</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/10rounds.css" />
    <script src="/javascript/hamburger-menu.js" defer></script>
    <script src="/javascript/10rounds.js" defer></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/lord-of-the-coders-logo.png"
    />
    <audio autoplay loop>
      <source src="/assets/theshire.mp3" type="audio/mpeg" />
    </audio>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="quote-container">
        <button id="Favorite-Button" aria-label="Add to favorites">
          <img
            id="favBut"
            src="/assets/heart.png"
            alt="Button"
            width="35"
            height="35"
          />
        </button>

        <span class="score"><%= score %>/10</span>
        <section id="quote-section">
          <blockquote>
            "<%= quote %>"
          </blockquote>
          <p>Wie zei het? In welke film?</p>
        </section>
        <span class="amount"><%= round * 2 %>/20</span>
        <button id="Blacklist-Button" aria-label="Add to blacklist">
          <img
            id="blackBut"
            src="/assets/forbidden.png"
            alt="Button"
            width="30"
            height="30"
          />
        </button>
      </section>

      <form action="/quiz/answer" method="POST">
        <section>
          <article id="karakter">
            <h3>
              <img src="/assets/people.png" alt="people" width="35" height="35" />
            </h3>
            <% characterOptions.forEach(opt => { %>
              <button type="submit" name="selectedCharacter" value="<%= opt._id %>" class="btn btn-secondary karakter-button">
                <%= opt.name %>
              </button>
            <% }) %>
          </article>

          <article id="film">
            <h3>
              <img
                src="/assets/clapperboard.png"
                alt="clapperboard"
                width="35"
                height="35"
              />
            </h3>
            <% movieOptions.forEach(opt => { %>
              <button type="submit" name="selectedMovie" value="<%= opt._id %>" class="btn btn-secondary film-button">
                <%= opt.name %>
              </button>
            <% }) %>
          </article>
        </section>

        <section id="submit-section">
          <button id="Submit-button" class="next-button" type="submit">Submit</button>
        </section>
      </form>
    </main>

    <%- include("partials/aside") %>
    <%- include("partials/footer") %>
  </body>
</html>
